<app>
  <header class="app__header">
    <nav class="toolbar">
      {{portal-for name="toolbar" class="toolbar__portal"}}

      {{link-to "Projects" "projects"
        class="toolbar__projects-button"
        activeClass="toolbar__projects-button--active"}}

      <button {{action "signOut"}} class="toolbar__sign-out-button">Sign out</button>
    </nav>
  </header>

  <main class="app__main">
    {{outlet}}
  </main>
</app>
