<section class="authenticated">
  <header class="authenticated__header">
    <nav class="authenticated__header-nav">
      <ul class="authenticated__header-nav-list">
        <li class="authenticated__header-nav-list-item">
          {{link-to "Projects" "projects.index"
            class="authenticated__header-nav-link"
            activeClass="authenticated__header-nav-link--active"}}
        </li>
        {{portal-for name="header" class="authenticated__header-portal"}}
      </ul>
    </nav>

    <button {{action "signOut"}} class="authenticated__header-sign-out-button">Sign out</button>
  </header>

  <main class="authenticated__main">
    {{outlet}}
  </main>
</section>
