<section class="authenticated">
  <header class="header">
    {{portal-for name="header" class="header__portal"}}

    {{link-to "Projects" "projects.index"
      class="header__projects-button"
      activeClass="header__projects-button--active"}}

    <button {{action "signOut"}} class="header__sign-out-button">Sign out</button>
  </header>

  <main class="main">
    {{outlet}}
  </main>
</section>
