app {
  display: block;
  position: relative;
  height: 100%;
}

.app__header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: $header-height;
  line-height: $header-height;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  z-index: 100;

  text-align: center;

  background: white;
}

.app__main {
  position: absolute;
  top: $header-height + 1px; right: 0; bottom: 0; left: 0;

  overflow: auto;
}
