{{#portal-content for="header"}}
  <div class="header__project-name">{{model.name}}</div>
{{/portal-content}}

{{#drop-zone on-drop="addFiles" class="project__drop-zone"}}
  {{#each model.artefacts key="@index" as |artefact|}}
    {{artefact-thumb
       artefact=artefact
       on-remove="removeArtefact"}}
  {{/each}}
{{/drop-zone}}
