{{#portal-content for="header"}}
  <li>
    {{link-to model.name "project" model
      class="authenticated__header-nav-link"
      activeClass="authenticated__header-nav-link--active"}}</li>
{{/portal-content}}

{{#drop-zone on-drop="addFiles" class="project__drop-zone"}}
  {{#group-by-week items=model.artefacts as |week items|}}
    <h3 class="project__week-header">
      Week: {{moment-format week.date "D MMM YYYY"}}
    </h3>

    <div class="project__week-artefacts">
      {{#each items as |item|}}
        {{artefact-thumb
           artefact=item
           on-view="viewArtefact"
           on-save="saveArtefact"
           on-rollback="rollbackArtefact"
           on-remove="removeArtefact"}}
      {{/each}}
    </div>
  {{/group-by-week}}
{{/drop-zone}}

{{outlet}}
