<h1>{{model.name}}</h1>

{{file-input multiple=true on-add="addFile"}}

<ul>
  {{#each model.artefacts key="@index" as |artefact|}}
    <li>
      {{artefact-thumb
         artefact=artefact
         on-remove="removeArtefact"}}
    </li>
  {{/each}}
</ul>
